
        <div class="row">
            <section class="main col-md-9">
                <article>
                    <h2>About</h2>
                    <p>Hello to all! </p>
                    <p> I am Gurel Sezgin! An aspiring and hardworking Software Developer student who is
                        always curious about learning new stuff!</p>
                    <p>I am currently at Semester 3 student of Computer Programming & Analysis program at Seneca
                        College. Some of the technologies I have learned include: <b>C</b> (Fundamentals, File
                        Reading/Writing, working with structs and arrays), <b>C++</b> (Object Oriented Programming),
                        <b>UNIX/LINUX</b> (Edit text
                        files, Shell Scripting, Pipes), <b>Networking </b>(TCP/IP, HTTP, Switching & Routing, 5-layered
                        architecture), <b>Oracle SQL</b> (Database Development), <b>HTML, CSS, JavaScript</b> (Frontend
                        Web Development), and <b>Version Control </b>(Git, GitHub).
                    </p>
                    <p>I am currently learning the backend web development with <b>Node.js</b> and some database tools
                        like
                        <b>PostgreSQL</b> and <b>MongoDB</b>.
                    </p>
                    <p>My hobbies include playing videogames, wathcing sci-fi movies and series, and going to the gym
                        often. I am a black belt Aikido (a Japanese martial art) practicioner, and a certified
                        instructor.</p>
                    <p>I like travelling a lot as well. I have visited many countries including; many countries
                        including Greece, Belgium, Hungary, Germany, Austria, and Italy.</p>
                </article>
            </section>
            <aside class="col-md-3">
                <h2>Coming Soon</h2>
                <p>Oops, this part is still under construction! Stay tuned, and may the force be with you...</p>
            </aside>
        </div>
